html {
  font-size: 62.5%; /*16 px is default : 62.5 =10px=1rem*/
  box-sizing: border-box;
  height: 100vh;
}
:root {
  --primary: #f0c040;
  --primaryDark: #203040;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}
/* layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: var(--primaryDark);
}
/* common classes */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  /* padding: 1rem 0; */
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--primary);
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #a4a4a4;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: var(--primary);
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
button.danger {
  color: #a02020;
}
button.danger:hover {
  color: white;
  background: #a02020;
  border-color: white;
}
table.product-list {
  text-align: center;
}
/* Header */
header a {
  color: white;
  padding: 1rem;
}
a.brand {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  background-color: #a02020;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: var(--primaryDark);
  color: #fff;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.min-30 {
  min-width: 30rem;
}
/* image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
  height: 300px;
}
img.large {
  width: 100%;
}
/* card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #e6dfda;
  border-radius: 00.5rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
}

/* rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}

.col-2.detail-img {
  display: flex;
  justify-content: center;
}
.col-2.detail-img img {
  height: 50rem;
  width: 40rem;
  /* margin: 1rem 5rem; */
}

/* alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
  /* display: block; */
}

/* checkout steps */
.checkout-steps > div {
  border-top: 0.3rem solid #c0c0c0;
  color: #c0c0c0;
  flex: 1rem;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: var(--primary);
  color: var(--primary);
}
/* dropdown */

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: var(--primaryDark);
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.product-list td,
.product-list th {
  text-align: center;
}
.search {
  position: relative;
  width: 30rem;
}
.search input {
  width: 100%;
}
.search button {
  position: absolute;
  left: 100%;
  top: 0;
  font-size: 1.6rem;
  color: #203040;
  background-color: var(--primary);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.search button i {
  padding: 0 0.5rem;
}
.open-side-bars {
  margin-left: 1rem;
  color: white;
  background-color: var(--primaryDark);
  border: 0.1rem solid rgb(155, 152, 152);
  border-radius: 0.5rem;
  font-size: 3rem;
  padding: 0.2rem 0.8rem;
}
.open-side-bars:hover {
  border-color: white;
}

.table button {
  margin: 0 0.2rem;
}
@media (max-width: 760px) {
  .row.top {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .col-1.details {
    text-align: center;
  }
  .col-1.tocart {
    width: 100%;
  }
}
